<a href="https://colab.research.google.com/github/darkscv81/DeepLearningZeroToAll/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import tensorflow as tf
import pandas as pd

In [17]:
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
보스턴 = pd.read_csv(파일경로)
보스턴.head()

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [18]:
#원핫인코딩
보스턴.head()

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [19]:
print(보스턴.columns)

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

In [23]:
독립=보스턴[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 
           'tax', 'ptratio', 'b', 'lstat']]
종속=보스턴[['medv']]
print(독립.shape, 종속.shape)

(506, 13) (506, 1)

In [24]:
X=tf.keras.layers.Input(shape=[13])
H=tf.keras.layers.Dense(10, activation='swish')(X)
Y=tf.keras.layers.Dense(1)(H)
model=tf.keras.models.Model(X, Y)
model.compile(loss='mse')

In [27]:
model.fit(독립, 종속, epochs=1000, verbose=0)
model.fit(독립, 종속,epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 1ms/step - loss: 23.6385
Epoch 2/10
16/16 [==============================] - 0s 1ms/step - loss: 24.2323
Epoch 3/10
16/16 [==============================] - 0s 1ms/step - loss: 23.3246
Epoch 4/10
16/16 [==============================] - 0s 1ms/step - loss: 24.2533
Epoch 5/10
16/16 [==============================] - 0s 1ms/step - loss: 24.5563
Epoch 6/10
16/16 [==============================] - 0s 1ms/step - loss: 22.9869
Epoch 7/10
16/16 [==============================] - 0s 1ms/step - loss: 23.9071
Epoch 8/10
16/16 [==============================] - 0s 1ms/step - loss: 23.0195
Epoch 9/10
16/16 [==============================] - 0s 1ms/step - loss: 23.7006
Epoch 10/10
16/16 [==============================] - 0s 1ms/step - loss: 23.6887

In [28]:
model.summary()

Model: "functional_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_3 (InputLayer)         [(None, 13)]              0
_________________________________________________________________
dense_1 (Dense)              (None, 10)                140
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 11
=================================================================
Total params: 151
Trainable params: 151
Non-trainable params: 0
_________________________________________________________________

In [30]:
print(model.predict(독립[:5]))
print(종속[:5])

[[30.1288  ]
 [24.439209]
 [30.34517 ]
 [29.474113]
 [28.823135]]
   medv
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

In [15]:
#학습한 가중치
model.get_weights()

[array([[ 0.70975935,  0.8132623 ,  0.5198254 ],
        [ 1.0025566 , -0.12135068, -0.17164886],
        [-1.1573662 , -0.54108626, -0.18696582],
        [-1.3007332 , -0.0978812 ,  0.43602747]], dtype=float32),
 array([ 0.23275721,  0.27122396, -0.18039629], dtype=float32)]